
.table-container {
    position: relative;
}
.table-container .mat-table {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
.table-container .mat-table .mat-header-row {
    position: absolute;
    top: -50px;
    left: 0px;
    right: 18px;
    background: #fff;
}
.mat-cell{
    text-align: left;
}

.view-column-list {
    float: right;
}

.mat-column-word, .mat-column-meaning {
    flex: 0 0 10% !important;
}

.mat-column-remember, .mat-column-fullMeaning {
    flex: 0 0 30% !important;
}

.mat-column-JLPTLevel {
    flex: 0 0 6% !important;
}

.mat-column-order {
    flex: 0 0 8% !important;
}

.mat-form-field-jlptlevel {
    width: 35px !important;
    padding-left: 10px;
}

.mat-select-jlptlevel{
    width: 30px !important;
}

.mat-option-jlptlevel{
    width: 75x !important;
}

.mat-select-panel {
    width: 75px !important;
}

.explain {
    padding: .375rem .75rem;
}

.add-comment {
    padding: .375rem .75rem;
    opacity: 0.4;
}

.cursor-pointer {
    cursor: pointer;
}

.custom-button {
    height: 40px;
    padding: .375rem .75rem;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #e9ecef;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}