<div class="table-container">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="onFilter($event)" placeholder="Ex. nhân">
  </mat-form-field>
  <mat-checkbox class="ml20" [(ngModel)]="isAutoSave"><label class="mb0"
    title="Auto save updated records">Auto Save</label></mat-checkbox>
  <mat-form-field class="float-right">
    <mat-label>View column list</mat-label>
    <mat-select [(value)]='selectedViewColumn' multiple (selectionChange)='onViewModeChangeHandler($event)'>
      <mat-option *ngFor="let mode of viewColumns" [value]="mode.value"
        [disabled]="mode.value == config.viewColumnsDef.word">
        {{mode.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-table matSort [dataSource]="dataSource">
    <!-- word Column -->
    <ng-container matColumnDef="word">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Word </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <input type="text" class="form-control" (change)="onModelChanged(element, 'word')" [(ngModel)]='element.word' />
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>
        <button class="custom-button" (click)="onExport()" title="Export data table to txt file">Download</button>
      </mat-footer-cell>
    </ng-container>

    <!-- meaning Column -->
    <ng-container matColumnDef="meaning">
      <mat-header-cell *matHeaderCellDef> Meaning </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <input type="text" class="form-control" (change)="onModelChanged(element, 'meaning')" [(ngModel)]='element.meaning' />
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- full meaning Column -->
    <ng-container matColumnDef="fullMeaning">
      <mat-header-cell *matHeaderCellDef> Full Meaning </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <input type="text" class="form-control" (change)="onModelChanged(element, 'fullMeaning')" [(ngModel)]='element.fullMeaning' />
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- JLPT level Column -->
    <ng-container matColumnDef="JLPTLevel">
      <mat-header-cell *matHeaderCellDef mat-sort-header> JLPT </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-form-field class="mat-form-field-jlptlevel">
          <mat-select class="mat-select-jlptlevel" (selectionChange)="onModelChanged(element, 'JLPTLevel')" [(value)]='element.JLPTLevel'>
            <mat-option class="mat-option-jlptlevel" *ngFor="let level of levels" [value]="level.value">
              {{level.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- remember Column -->
    <ng-container matColumnDef="remember">
      <mat-header-cell *matHeaderCellDef> Remember Statement </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <input type="text" class="form-control" (change)="onModelChanged(element, 'remember')" [(ngModel)]='element.remember' />
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Comment Column -->
    <ng-container matColumnDef="explain">
      <mat-header-cell *matHeaderCellDef> Explain Kanji </mat-header-cell>
      <mat-cell *matCellDef="let element" [satPopoverAnchor]="p" (click)="p.open()">
        <span class="explain cursor-pointer" *ngIf="element.explain">
          {{element.explain}}
        </span>
        <span class="add-comment cursor-pointer" *ngIf="!element.explain">
          Add an explaination
        </span>

        <sat-popover #p hasBackdrop xAlign="start" yAlign="start" (closed)="onUpdate(element, $event)">
          <inline-edit [value]="element.explain"></inline-edit>
        </sat-popover>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Full name Column -->
    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef> Full Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <input type="text" readonly class="form-control" (change)="onModelChanged(element, 'fullName')" [(ngModel)]='element.fullName' />
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Last Modified Date Column -->
    <ng-container matColumnDef="lastModifiedDate">
      <mat-header-cell *matHeaderCellDef> Last Modified Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <input type="text" readonly class="form-control" (change)="onModelChanged(element, 'lastModifiedDate')" [(ngModel)]='element.lastModifiedDate' />
        </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- order Column -->
    <ng-container matColumnDef="order">
      <mat-header-cell *matHeaderCellDef> Order </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <input type="text" readonly class="form-control" (change)="onModelChanged(element, 'order')" [(ngModel)]='element.order' />
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <mat-header-row class="darkgray" *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
    <mat-row [ngClass]='row.rowColor' *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row class="darkgray" *matFooterRowDef="displayedColumns; sticky:true"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>