.table-container {
    position: relative;
    min-height: 80vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.button-border {
    border: 1px solid;
}
.cursor-pointer {
    cursor: pointer;
}

.custom-file-name-textbox {
    height: 39px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.custom-button {
    height: 40px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #e9ecef;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.border-right-none {
    border-right: none !important;
}
