.rightBody {
    float: right;
    width: 49%;
    border-top: solid 1px blue;
    border-left: solid 1px blue;
    border-right: solid 1px blue;
}
.rightBodyTitle {
    font-weight: bold; 
    font-size: 40px; 
    color:red;
}
.chooseModeView {
    font-weight:bold; 
    font-size:20px;
}
.table-container {
    position: relative;
}
.table-container .mat-table {
    max-height: calc(100vh - 270px);
    overflow-y: auto;
}
.table-container .mat-table .mat-header-row {
    position: absolute;
    top: -50px;
    left: 0px;
    right: 18px;
    background: #fff;
}
.mat-cell{
    text-align: left;
}