.mat-form-field {
    width: 100%;
    font-size: 14px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    margin-right: -16px;
}


/* button */

button {
    border: 1px solid #cbcbcb !important;
    padding: 5px 10px;
}

button:hover {
    box-shadow: 0px 10px 20px -5px #585858 !important;
}

button:disabled,
button[disabled] {
    cursor: not-allowed !important;
    opacity: 0.5;
}


/* Save button */

button.btn-primary {
    border: 1px solid #cbcbcb !important;
    background-color: blue !important;
    color: white !important;
    padding: 5px 10px !important;
}


/* Cancel button */

button.btn-cancel {
    padding: 5px 10px !important;
}


/* Delete button */

button.btn-delete {
    border: 1px solid #cbcbcb !important;
    background-color: red !important;
    color: white !important;
    padding: 5px 10px !important;
}