<section class="map2 cid-rYtxZyGIiQ" id="map2-e">
    <div class="container">
        <div class="media-container-row">
            <div class="col-md-8">
                <div class="google-map"><iframe frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCy9r70T3NYf3PhvVflTo0_zdif2_IoIYs&amp;q=place_id:ChIJ3VvA2VkrdTERuSbE1OXl8E8"
                        allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
</section>