<section class="engine">
    <a href="#">Mobirise</a>
</section>
<section class="cid-qTkA127IK8 mbr-fullscreen mbr-parallax-background" id="header2-1">
    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    WELCOME TO VOCABULARY LEARNING WEBSITE
                </h1>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    This is a website support for those who want to have a good technique to learn new language. We will start with the vocabulary. With this system, you could learn 1 language within 1 year.
                </p>
                <div class="mbr-section-btn">
                    <a class="btn btn-md btn-secondary display-4" href="#">LEARN MORE</a>
                    <a class="btn btn-md btn-white-outline display-4" href="#">LIVE DEMO</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>