<div [formGroup]="form">
    <div [ngSwitch]="question.controlType">
        <mat-form-field *ngSwitchCase="'textbox'">
            <mat-label><span *ngIf="question.validators['required']" class="red">* </span>{{question.label}}</mat-label>
            <input matInput [formControlName]="question.key" [id]="question.key" [type]="question.type" />
        </mat-form-field>
        <mat-form-field *ngSwitchCase="'dropdown'">
            <mat-label><span *ngIf="question.validators['required']" class="red">* </span> {{question.label}}</mat-label>
            <mat-select [id]="question.key" [multiple]="question.multiple" [formControlName]="question.key">
                <mat-option *ngFor="let opt of question.options" [value]="opt.value">
                    {{opt.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngSwitchCase="'file'" class="file-upload">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span *ngIf="question.validators['required']" class="red">* </span>{{question.label}}
                </div>
                <div class="custom-file cursor-pointer">
                    <p *ngIf="!previewSelectedImage" align="center" class="drag-drop-label">drag drop your image here or click in this area</p>
                    <img *ngIf="previewSelectedImage" class="preview-selected-image" [src]="previewSelectedImage" alt="your image" />
                    <input type="file" name="images" (change)="onSelectImage($event)" class="cursor-pointer custom-file-name-textbox" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <button class="custom-button cursor-pointer" type="submit" (click)="onSubmitImage()">Upload</button>
                    <input matInput [formControlName]="question.key" [(ngModel)]="question.value" [id]="question.key" hidden/>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'inlineText'">
            <mat-form-field>
                <mat-label><span *ngIf="question.validators['required']" class="red">* </span> {{question.label}}</mat-label>
                <div [satPopoverAnchor]="p" (click)="p.open()" class="cursor-pointer">
                    <textarea matInput [formControlName]="question.key" readonly placeholder="Add an explaination" [(ngModel)]="question.value" [id]="question.key"></textarea>
                    <sat-popover #p hasBackdrop xAlign="start" yAlign="start" (closed)="onUpdate($event)">
                        <inline-edit [value]="question.value"></inline-edit>
                    </sat-popover>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div class="errorMessage" *ngIf="errorMessages">
        <ng-container *ngFor="let error of errorMessages[question.key]">
            <div class="error-message" *ngIf="form.get(question.key).hasError(error.type) && (form.get(question.key).dirty || form.get(question.key).touched)">
                {{ error.message }}
            </div>
        </ng-container>
    </div>
</div>