<div class="train-container container">
    <div class="headerComponent" align="center">
        <mat-form-field>
            <mat-label>Kanji level</mat-label>
            <mat-select [(value)]='selectedKanjiLevel' (selectionChange)='onChangeHandler($event)'>
                <mat-option *ngFor="let data of kanjiLevels" [value]="data.value">
                    {{data.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="leftBody" align="center">
        <label class="leftBodyTitle" i18n='@@leftBodyTitle'>Typing your kanji </label> <br />

        <div class="training-kanji" *ngIf='trainingKanji'>

            <div *ngIf='selectedTestMode == wordEnum.word;'>
                <img height="100" [attr.title]="nextTrainingKanji.word" class="details-image" hidden="true" src="{{serverImagesURL}}/{{nextTrainingKanji.filename}}" />
                <img height="100" [attr.title]="trainingKanji.word" class="details-image" src="{{serverImagesURL}}/{{trainingKanji.filename}}" />
                <!-- <img height="100" [attr.title]="nextTrainingKanji.word" src="assets/kanji images/{{nextTrainingKanji.fullName}}" hidden="true" class="details-image" />
            <img height="100" [attr.title]="trainingKanji.word" src="assets/kanji images/{{trainingKanji.fullName}}" class="details-image" /> -->
            </div>
            <div *ngIf='selectedTestMode == wordEnum.kanji;'>
                <label class='fs20'>{{trainingKanji.word}} - {{trainingKanji.fullMeaning}}</label>
            </div>
        </div>

        <mat-form-field class="example-full-width">
            <textarea matInput [ngClass]='inputColor' id="inputKanjiId" (keyup)='onKeyUpInput($event)' placeholder="Input kanji" [(ngModel)]='inputKanji' i18n-placeholder="@@inputWord"></textarea>
        </mat-form-field>
        <!-- <mat-checkbox class="ml20" [(ngModel)]="isAutoNext"><label i18n='@@autoNext'>Auto Next</label></mat-checkbox> -->
        <!-- <br /> -->
        <button class="button-border ml20" mat-button (click)='onMoveNextKanji()' title="Move Next">>>></button>
        <br />
        <!-- <label class="chooseMode" i18n="@@chooseMode">Choose mode</label>: -->
        <mat-form-field>
            <mat-label>Training Mode</mat-label>
            <mat-select [(value)]='selectedTestMode' (selectionChange)="onTrainingModeChangeHandler($event)">
                <mat-option *ngFor="let mode of testModes" [value]="mode.value">
                    {{mode.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <label class="chooseMode" i18n="@@position">Position</label>: -->
        <mat-form-field class="positionSelection ml20">
            <mat-label>Partitions</mat-label>
            <mat-select [(value)]='selectedRanges' multiple (selectionChange)='onRangeChangeHandler($event)'>
                <mat-option *ngFor="let range of ranges" [value]="range.value">
                    {{range.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="rightBody" align="center">
        <label class="leftBodyTitle" i18n='@@leftBodyTitle'>Result </label> <br />
        <label>Trained / Total: {{trained}} / {{total}} </label> <br />
        <div class="displayArea" *ngIf='previousTrainingKanji'>
            <!-- <img height="100" [attr.title]="previousTrainingKanji.fullName" class="details-image" src="{{serverImagesURL}}/{{previousTrainingKanji.fullName}}" /> -->
            <img height="100" [attr.title]="previousTrainingKanji.fullName" src="{{serverImagesURL}}/{{previousTrainingKanji.filename}}" class="details-image row" />
            <div *ngIf="previousTrainingKanji.explain" align="left" class="pl10">
                <div class="ck-editor__main" [innerHTML]="previousTrainingKanji.explain"></div>
                <label class="fs20">remember method: <span class="red">{{previousTrainingKanji.remember}}</span></label>
            </div>
            <div *ngIf="!previousTrainingKanji.explain" align="left" class="pl10">
                <label class="fs20">Chinese: {{previousTrainingKanji.word}}</label><br />
                <label class="fs20">meaning: {{previousTrainingKanji.word}} -
                    {{previousTrainingKanji.meaning}}</label><br />
                <label class="fs20">remember method: <span class="red">{{previousTrainingKanji.remember}}</span></label>
            </div>
        </div>
    </div>
</div>