.train-container {
    position: relative;
    min-height: 100vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.leftBody {
    padding: 20px;
    min-height: calc(100vh - 170px);
    box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 10%);
}

.leftBodyTitle {
    font-weight: bold;
    font-size: 25px;
    color: red;
}

.chooseMode {
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
}

.positionSelection {
    width: 100px;
}

.button-border {
    border: 1px solid;
}

.rightBody {
    padding: 20px;
    min-height: calc(100vh - 170px);
    box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 10%);
}

.table-container {
    position: relative;
}

.table-container .mat-table {
    max-height: calc(100vh - 270px);
    overflow-y: auto;
}

.table-container .mat-table .mat-header-row {
    position: absolute;
    top: -50px;
    left: 0px;
    right: 18px;
    background: #fff;
}

.related-word-div {
    padding: 10px;
}

.mat-cell {
    text-align: left;
}

.control-panel {
    display: table;
    width: 100%;
    margin-bottom: 15px;
}

.column .cell {
    width: 100%;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.fast-review-training {
    background-color: #d6d6d6;
    margin: 15px 0px 15px 0px;
    padding: 15px 0px 15px 0px;
    width: 99%;
    border-radius: 0.25rem;
}

.selection-card {
    margin: 10px 0 10px 0;
    width: 80%;
}

.selection-card:hover {
    background-color: #ffa9a9;
}

@media (min-width:768px) {
    .rightBody {
        float: right;
        width: 48%;
        min-height: calc(100vh - 170px);
    }
    .leftBody {
        float: left;
        width: 48%;
        min-height: calc(100vh - 170px);
    }
    .leftBodyTitle {
        font-size: 40px;
    }
    .column {
        display: table-cell;
    }
    .column .cell {
        width: 200px;
    }
}