input {
    font-size: 12px;
}

.table-container {
    position: relative;
}

.table-container .mat-table {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.table-container .mat-table .mat-header-row {
    position: absolute;
    top: -50px;
    left: 0px;
    right: 18px;
    background: #fff;
}

.mat-cell {
    text-align: left;
    margin-left: 3px;
    margin-right: 2px;
}

.view-column-list {
    float: right;
}

.mat-column-word,
.mat-column-meaning {
    flex: 0 0 10% !important;
}

.mat-column-select {
    flex: 0 0 50px !important;
}

.mat-column-id {
    flex: 0 0 200px !important;
}

.mat-column-createdBy,
.mat-column-updatedBy {
    flex: 0 0 100px !important;
}

.mat-column-createdDate,
.mat-column-updatedDate {
    flex: 0 0 120px !important;
}

.mat-column-JLPTLevel {
    flex: 0 0 90px !important;
    margin-left: 10px;
    margin-right: 5px;
}

.mat-form-field-jlptlevel {
    width: 85px !important;
}

.mat-select-jlptlevel {
    width: 80px !important;
}

.mat-option-jlptlevel {
    width: 85x !important;
}

.mat-select-panel {
    width: 75px !important;
}

.explain {
    padding: .375rem .75rem;
}

.add-comment {
    opacity: 0.4;
}

.cursor-pointer {
    cursor: pointer;
}

.mat-header-cell {
    padding-left: 20px;
}