<div class="table-container container">
    <div class="control-panel">
        <div class="column text-align-left">
            <mat-form-field class="cell">
                <mat-label>Search</mat-label>
                <input #input matInput id="searchWord" [(ngModel)]="searchWord" placeholder="Ex. nhân">
            </mat-form-field>
        </div>
        <div class="column text-align-center">
            <mat-form-field class="cell">
                <mat-label>Data source</mat-label>
                <mat-select [(value)]='selectedDatasource' (selectionChange)='onChangeHandler($event)'>
                    <mat-option *ngFor="let option of dataSources" [value]="option.value">
                        {{option.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="column text-align-right">
            <mat-form-field class="cell">
                <mat-label>View column list</mat-label>
                <mat-select [(value)]='selectedViewColumn' multiple (selectionChange)='onViewModeChangeHandler($event)'>
                    <mat-option *ngFor="let mode of viewColumns" [value]="mode.value" [disabled]="mode.value == config.viewColumnsDef.select || mode.value == config.viewColumnsDef.id">
                        {{mode.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <mat-table [dataSource]="dataSource" matSort matSortActive="createdDate" matSortDirection="desc" matSortDisableClear>
        <!-- selection Column -->
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
                <mat-checkbox (change)="$event ? onMasterToggle() : null" [checked]="selection.hasValue() && onIsAllSelected()" [indeterminate]="selection.hasValue() && !onIsAllSelected()">
                </mat-checkbox>
            </mat-footer-cell>
        </ng-container>

        <!-- id Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell class="desktop-only" *matHeaderCellDef> id </mat-header-cell>
            <mat-cell class="desktop-only" *matCellDef="let element">
                <input type="text" readonly class="form-control" [(ngModel)]='element._id' />
            </mat-cell>
            <mat-footer-cell class="desktop-only" *matFooterCellDef>
                <mat-form-field class="mat-form-field-action">
                    <mat-label>Actions on selected rows</mat-label>
                    <mat-select class="mat-select-action" (selectionChange)="onSelectionChange($event)" [(value)]='selectedAction'>
                        <mat-option class="mat-option-action" *ngFor="let action of actions" [disabled]="onDisableAction(action)" [value]="action.value">
                            {{action.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-footer-cell>
        </ng-container>

        <!-- Word Column -->
        <ng-container matColumnDef="word">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Word </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <input type="text" class="form-control" [(ngModel)]='element.word' />
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <!-- tag Column -->
        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-select class="pl10" [(value)]='element.type'>
                    <mat-option *ngFor="let option of types" [value]="option.value">
                        {{option.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <!-- Pronunciation Column -->
        <ng-container matColumnDef="pronun">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Pronunciation </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <input type="text" class="form-control" [(ngModel)]='element.pronun' />
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <!-- Kanji Column -->
        <ng-container matColumnDef="kanji">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Kanji </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <input type="text" class="form-control" (ngModelChange)='onUpdateKanji(element, $event)' [(ngModel)]='element.kanji' />
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <!-- Chinese meaning Column -->
        <ng-container matColumnDef="chinaMeaning">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Chinese </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <input type="text" class="form-control" [(ngModel)]='element.chinaMeaning' />
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <!-- Meaning Column -->
        <ng-container matColumnDef="meaning">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Meaning </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <input type="text" class="form-control" [(ngModel)]='element.meaning' />
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <!-- Example Column -->
        <ng-container matColumnDef="example">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Example </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <input type="text" class="form-control" [(ngModel)]='element.example' />
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <!-- Example Column -->
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Example Title </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <input type="text" class="form-control" [(ngModel)]='element.exampleTitle' />
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <!-- exampleMeaning Column -->
        <ng-container matColumnDef="exampleMeaning">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Example meaning </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <input type="text" class="form-control" [(ngModel)]='element.exampleMeaning' />
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <!-- language Column -->
        <ng-container matColumnDef="language">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Language </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-select class="pl10" [(value)]='element.language'>
                    <mat-select-filter [array]="languages" [displayMember]="'viewValue'" (filteredReturn)="filteredLanguages = $event"></mat-select-filter>
                    <mat-option *ngFor="let option of filteredLanguages" [value]="option.value">
                        {{option.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <!-- data source Column -->
        <ng-container matColumnDef="dataSource">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Data Source </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-select class="pl10" [(value)]='element.dataSource'>
                    <mat-select-filter [array]="dataSources" [displayMember]="'viewValue'" (filteredReturn)="filteredDataSources = $event"></mat-select-filter>
                    <mat-option *ngFor="let option of filteredDataSources" [value]="option.value">
                        {{option.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <!-- tag Column -->
        <ng-container matColumnDef="tags">
            <mat-header-cell *matHeaderCellDef> Tags </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-select class="pl10" [(value)]='element.tags' multiple>
                    <mat-select-filter [array]="tags" [displayMember]="'viewValue'" (filteredReturn)="filteredTags = $event"></mat-select-filter>
                    <mat-option *ngFor="let option of filteredTags" [value]="option.value">
                        {{option.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <!-- image Column -->
        <ng-container matColumnDef="image">
            <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <img height="100" [attr.title]="element.filename" class="details-image row" src="{{serverImagesURL}}/{{element.filename}}" />
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <!-- Created Date Column -->
        <ng-container matColumnDef="createdDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <input type="text" readonly class="form-control" [value]="common.convertDateToStringByFormat(element.createdDate, 'yyyy-MM-dd')" />
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <!-- Created By Column -->
        <ng-container matColumnDef="createdBy">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Created By </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <input type="text" readonly class="form-control" [(ngModel)]='element.createdBy.email' />
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <!-- Updated Date Column -->
        <ng-container matColumnDef="modifiedDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Updated Date </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <input type="text" readonly class="form-control" [value]="common.convertDateToStringByFormat(element.modifiedDate, 'yyyy-MM-dd')" />
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <!-- Updated By Column -->
        <ng-container matColumnDef="modifiedBy">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Updated By </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <input type="text" readonly class="form-control" [(ngModel)]='element.modifiedBy.email' />
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <mat-header-row class="darkgray" *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
        <mat-row [ngClass]='row.rowColor' *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row class="darkgray" *matFooterRowDef="displayedColumns; sticky:true"></mat-footer-row>
    </mat-table>
    <mat-paginator [length]="dataSource.getCount()" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>
<button mat-raised-button (click)="onGetUpdatedData()">Re-get words in DB</button>