/* You can add global styles to this file, and also import other style files */

@import '../node_modules/font-awesome/css/font-awesome.min.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* font-size */

.fs40 {
    font-size: 40px !important;
}

.fs30 {
    font-size: 30px !important;
}

.fs20 {
    font-size: 20px !important;
}


/* margin */

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.mb0 {
    margin-bottom: 0px !important;
}


/* padding */

.pl10 {
    padding-left: 10px !important;
}

.pt5 {
    padding-top: 5px !important;
}

.pt12 {
    padding-top: 12px !important;
}


/* color */

.blue {
    color: blue !important;
}

.red {
    color: red !important;
}


/* bg color */

.rosybrown {
    background-color: rosybrown !important;
}

.darkgray {
    background-color: darkgray !important;
}


/* width */

.w500 {
    width: 500px !important;
}

.w100-p {
    width: 100% !important;
}


/* height */

.h200 {
    height: 200px !important;
}


/* float */

.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}


/* z-index*/

.zindex20 {
    z-index: 20 !important;
}

.zindex10 {
    z-index: 10 !important;
}

textarea:read-only {
    background-color: #e9ecef;
    opacity: 1;
}

.ck-editor__main {
    display: inline-block;
}

.ck-editor__main p {
    margin-bottom: 0rem !important;
}

.ck-editor__main img {
    max-width: 100%;
}

@media (max-width: 767px) {
    .desktop-only {
        display: none;
    }
}